/* GLOBAL STYLES
========================================================= */

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 1.8em;
	overflow-y: auto;
	color: #7e7e7e;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

p{
	line-height: 1.7em;
}

a {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

section {
	margin-bottom: 30px;
}

.content-wrapper{
	background: #fff; 
	position: relative; 
}

.home-margin-top.content-wrapper{
	box-shadow: 0 -4px 4px rgba(30, 33, 49, 0.7);
	z-index: 999;
}
.section-header{
	margin-top: 30px;
	margin-bottom: 30px;
}
.section-header p{
	font-size:1.2em; 
	line-height: 1.9em;
	width: 70%;
	margin: 0 auto; 
}
.section-header h2{text-transform: uppercase;}
.text-left{
	text-align: left;
}


/* progress Bar */
.progress-sm{
	height:10px;
}

.progress-md{
	height:15px;
}

/* Anchor Text Roll */

a {
	text-decoration: none; 
}


/* Animation Delay helper classes*/
.ani-delay1 {
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-o-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.ani-delay2 {
	-webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
	-o-animation-delay: .2s;
	animation-delay: .2s;
}
.ani-delay3 {
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	-o-animation-delay: .3s;
	animation-delay: .3s;
}
.ani-delay4 {
	-webkit-animation-delay: .4s;
	-moz-animation-delay: .4s;
	-o-animation-delay: .4s;
	animation-delay: .4s;
}
.ani-delay5 {
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}
.ani-delay6 {
	-webkit-animation-delay: .6s;
	-moz-animation-delay: .6s;
	-o-animation-delay: .6s;
	animation-delay: .6s;
}
.ani-delay7 {
	-webkit-animation-delay: .7s;
	-moz-animation-delay: .7s;
	-o-animation-delay: .7s;
	animation-delay: .7s;
}

.ani-delay8 {
	-webkit-animation-delay: .8s;
	-moz-animation-delay: .8s;
	-o-animation-delay: .8s;
	animation-delay: .8s;
}
 
.ani-delay9 {
	-webkit-animation-delay: 0.9s;
	-moz-animation-delay:  0.9s;
	-o-animation-delay:  0.9s;
	animation-delay:  0.9s;
}
.ani-delay10 {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}

/*Custom Buttons */
.btn-shadow{
	transition: none;
}
.btn-primary.btn-shadow { 
	box-shadow: 3px 3px 0px #285e8e; 
}
.btn-success.btn-shadow{
	box-shadow: 3px 3px 0px #398439; 
}

.btn-info.btn-shadow {
	box-shadow: 3px 3px 0px #269abc; 
}
.btn-warning.btn-shadow{
	box-shadow: 3px 3px 0px #d58512; 
}
.btn-danger.btn-shadow {
	box-shadow: 3px 3px 0px #ac2925;
}
.btn-shadow:hover,.btn-shadow:focus{
	border:1px solid transparent;
	outline:none;
}
.btn-shadow:active {
	top: 2px;
	left: 1px;
	box-shadow: none;
	outline:none;
	position: relative;
}

/*GLYPHICONS Icons
Special styles for displaying the icons and their classes*/
.bs-glyphicons {
   padding-left: 0;
   padding-bottom: 1px;
   margin-bottom: 20px;
   list-style: none;
   overflow: hidden;
}
.bs-glyphicons li {
   float: left;
   width: 20%;
   min-height: 110px;
   padding: 10px;
   font-size: 12px;
   line-height: 1.4;
   text-align: center;
   margin: 0 -1px -1px 0;
   border: 1px solid #ddd;
}
.bs-glyphicons .glyphicon {
   display: block;
   font-size: 24px;
   margin: 5px auto 10px;
}
.bs-glyphicons li:hover {
   color: #FF0000;
   background-color: #fafafa;
}
.fontawesome-icon-list .fa {
	font-size: 1.2em;
	color: #333;
	line-height: 32px;
	height: 32px; 
	margin-right: 10px;
	border-radius: 4px;
}

/* Banner and Inner page title Background image
========================================================= */
.carousel-fade .carousel-inner, #page-title  {
	background: #202a33 url(../img/banner_bg2.jpg) repeat 0 0; 
}
#page-title.coming-soon-logo {
	background: #202a33 ; 
	background-image: none;
}


/* CUSTOMIZE THE NAVBAR
========================================================= */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	font-size: 1.1em;
	z-index: 9999;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
	padding-left: 0;
	padding-right: 0;
}
.navbar-wrapper .navbar {
	padding-left: 15px;
	padding-right: 15px;
	background: none;
}
.navbar-static-top {
	border-width: 0 0 0;
}
 
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #FFF;
	border-radius: 5px;
}
.navbar > .container .navbar-brand {
	font-size: 1.5em;
}
.navbar-inverse .navbar-nav > li > a {
	color: #C2C2C2;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	color: #222;
	background-color: #FFF;
	border-radius: 4px 4px 0 0;
}
.navbar-nav > li > .dropdown-menu{
	border: 0;
} 
 

/*For Submenu */
.nav-custom .navbar-nav li.dropdown ul li a{
	padding: 10px 18px;
} 
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
 
/* CUSTOMIZE THE CAROUSEL
========================================================= */


.carousel-caption {
	z-index: 10;
}
.carousel-caption h1{
	font-size:3.5em;
	text-transform: uppercase; 
	text-shadow: 2px 2px 2px #000;
 }
 
.carousel-fade .carousel-inner { 	 
	-webkit-box-shadow: inset 0 -2px 8px #222;
	-moz-box-shadow: inset 0 -2px 8px #222;
	box-shadow: inset 0 -2px 8px #222;
}
 
/* Custom Fade Slider CSS */
.carousel-fade .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
	opacity: 1;
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-control {
	z-index: 2;
}
.carousel-caption{
	text-align: left;
}
.caro-left{
	left: 10%;
}
.carousel-caption {
	position: absolute;
	max-width: 45%;
	padding: 0 20px 20px;
	color: #FFF;
	text-shadow: 1px 1px 4px #333;
	z-index: 1; 
	bottom: 15%;
	text-align: left;
	-webkit-animation-delay: .7s;
	-moz-animation-delay: .7s;
	-o-animation-delay: .7s;
	animation-delay: .7s;
	line-height: 1.6em;
}
.carousel-container img {
	position: absolute;
	max-width: 450px;
	right: 10%;
	bottom: 12%;
	-webkit-animation-delay: .4s;
	-moz-animation-delay: .4s;
	-o-animation-delay: .4s;
	animation-delay: .4s;
}

.carousel-caption.caption-center{
	top:25%;
	text-align: center; 
	max-width:100%; 
}
.caption-center h1{
	margin-bottom: 20px; 
} 
.caption-center p {
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 1.8;
	bottom: none;
	text-shadow: 2px 2px 2px #000;
}
.caption-center .btn{
	margin-right: 15px;
	margin-top: 25px;
}
.btn-carouselwhite {
  background-color: #FFF; 
  border:2px solid #FFF; 
  font-weight: bold; 
}
 
.btn-carouselblack {
 background-color: #1c2328; 
  border:2px solid #FFF;
}
.btn-carouselblack:hover,
.btn-carouselblack:focus,
.btn-carouselblack:active,
.btn-carouselblack.active { 
  color:#FFF; 
}
/* Header Section
 ====================================================================== */
.header{
	position: fixed;
	top: 0;
	width: 100%;
	margin-top: 0;
}
.home-margin-top{
	margin-top: 450px;
}

/* TOP Section
 ====================================================================== */
.header-bottom {
	padding-bottom: 10px;
}
.header-bottom p{
	font-size: 1.2em;
}
.header-bottom h2{
	text-transform: uppercase;
}

/* TOP Section - Our Services
 ====================================================================== */

.services-box {
	margin-top: 40px;
	position: relative;
}
.services-box  i.fa{
	width: 120px;
	height:120px;
	line-height: 120px;
	display: inline-block;
	border-radius: 60px; 
	text-align: center; 
	position: relative;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-webkit-font-smoothing: antialiased;
}
.services-box  i.fa:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px #000;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

.services-box  i.fa:after { 
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}
 
 
.no-touch .services-box:hover  i.fa:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
 

/* Home page Recent work
 ====================================================================== */
.recent-work{
	padding:0 0 35px; 
}

/* Build the project-item and rotate on hover
**************************************/

.project-item {
	width: 220px;
	height:195px; 
	float: left;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}
 
.project-box {
	width: 220px;
	height: 195px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-130px);
	-moz-transform: translateZ(-130px);
	transform: translateZ(-130px);
	-webkit-transition: -webkit-transform 350ms;
	-moz-transition: -moz-transform 350ms;
	transition: transform 350ms;
}

.project-box:hover {
	-webkit-transform: rotateY(-78deg) translateZ(20px);
	-moz-transform: rotateY(-78deg) translateZ(20px);
	transform: rotateY(-78deg) translateZ(20px);
}

/* Transform and style the two planes
**************************************/ 
.project-box .project-img, 
.project-box .project-info {
	position: absolute;
	width: 220px;
	height: 195px;
	background-color: #FDFDFD;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	border: 5px solid #FFF;
	
}

.project-box .project-img  {
	-webkit-transform: translateZ(108px);
	-moz-transform: translateZ(108px);
	transform: translateZ(108px);
	background-size: cover;
	background-repeat: no-repeat;
}

.project-box .project-info {
	-webkit-transform: rotateY(90deg) translateZ(108px);
	-moz-transform: rotateY(90deg) translateZ(108px);
	transform: rotateY(90deg) translateZ(108px);
	border: 1px solid #DDD;
	font-size: 0.75em;
	 margin: auto;
	 top: 0;
	 bottom:0; 
	vertical-align: middle;
	position: relative; 
}
.project-box .project-info p{
	padding: 0 15px;
	font-size: 1.2em;
}
.project-box .project-info a{
	font-size: 1.2em;
}
.project-text{
	text-align: center;
	margin-top: 30px;
}

.portfolio-3d-box .project-box .project-img, .portfolio-3d-box  .project-box .project-info{
	border: 5px solid #E4E4E4;
}
.portfolio-3d-box  .portfolio-item img {
	border-radius: 0;
}
/* Shadow beneath the 3D object
**************************************/

.csstransforms3d .project-box::after {
	content: '';
	width: 220px;
	height: 195px;
	position: absolute;
	bottom: 0;
	box-shadow: 0 30px 50px rgba(0,0,0,0.5);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: rotateX(90deg) translateY(108px);
	-moz-transform: rotateX(90deg) translateY(108px);
	transform: rotateX(90deg) translateY(108px);
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .project-box:hover::after {
	box-shadow: 20px -5px 50px rgba(0,0,0,0.4);
}
 

/* Generate "lighting" using box shadows
**************************************/

.project-box .project-img,
.project-box .project-info,
.project-box .project-info header {
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .project-box .project-img {
	box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.csstransforms3d .project-box:hover .project-img {
	box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}

.csstransforms3d .project-box .project-info, 
.csstransforms3d .project-box .project-info header {
	box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.csstransforms3d .project-box:hover .project-info, 
.csstransforms3d .project-box:hover .project-info header {
	box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}
 
/* Fallback
**************************************/
.no-csstransforms3d .project-box .project-img, 
.no-csstransforms3d .project-box .project-info {
	position: relative;
}
.no-csstransforms3d .project-box,
.no-csstransforms3d .project-item,
.no-csstransforms3d .project-box .project-info  {
	height: auto;
}
.no-csstransforms3d .project-box .project-img{
	margin-bottom: 10px;
}
.no-csstransforms3d .project-box .project-info {
	border: 0;
	background: transparent;
	text-align: center;
} 
.no-csstransforms3d  .project-box .project-info p{
	padding: 0 ;
	font-size: 1.1em;
}


/* Media Queries
**************************************/
@media screen and (max-width: 70.75em){
	.project-item {
		float: none;
		margin: 30px auto 60px;
	}
}


/* Home page bottom (Latest Post & Why Choose us)
 ====================================================================== */
.blog-article h4{ 
	margin-top: 0;
}

.blog-article{
	margin-bottom: 15px;
}

.bottom h4,.blog-article .roll.blog-img span:after{
	color: #444;
} 
.blog-article .roll.blog-img span:after {
	 padding:12px 10px;
}
.blog-article .roll.blog-img {
	display: block;
}


/* Home page Testimonials 
 ====================================================================== */
.testimonials-box p{
	font-size: 1.1em;
	line-height: 1.7em;
}
.testimonials-box {
	 
}
#testiCarousel,#testiCarousel .item{
	height: auto;
}
#testiCarousel .carousel-control.left{
	margin-left: -40px;
	margin-top: 30px;
}
#testiCarousel .carousel-control.right{
	margin-right: -40px;
	margin-top: 30px;
}

#testiCarousel .carousel-control .icon-next{
	right: 15%; 
}

#testiCarousel .carousel-control.left, #testiCarousel  .carousel-control.right{	 
	background-image: none;
	width: 40px;
	height: 40px;
	background: #FFF;
	filter: none;
	background-image: none;
	border-radius: 50%;
	opacity: 1;
	color: #444;
	border: 2px solid #ccc;
	text-shadow: none;  
}
#testiCarousel .carousel-indicators{
	margin-bottom: -50px;
}
#testiCarousel .carousel-indicators li{
	border: 1px solid #CCC;
}
#testiCarousel .carousel-indicators li.active{
	background: #CCC;
}
.client-logo {
	margin-top: 20px;
	margin-bottom: 5px;
}


/* Footer
 ====================================================================== */ 
.main-footer{
	background: #41434e;
	position: relative;
	margin-top: 50px;
}
.main-footer p{
	font-size: 1.2em;
	color: #FFF;
}
.main-footer .section-header > h2,.email-id {
	color: #fff;
}

span.mright{
	margin-right: 25px;
}
 
.main-footer i.fa {
	margin-right: 8px;
}

.copyright-link{
	background: #353741;
}
.copyright-link p{
	margin-bottom: 0;
	padding: 12px 0;
	font-size: 0.9em;
}
.top-btn {
	height: 40px;
	width: 40px;
	border-radius: 50px;
	display: block;
	text-align: center;
	margin: 0 auto;
	top: -25px;
	position: absolute;
	right: 0;
	left: 0;
	 opacity: 0.8;
}

.top-btn:hover {
	 opacity: 1;
}
.main-footer .top-btn i.fa{
	color: #FFF !important;
	font-size: 2em;
	margin-right:auto !important;
	line-height:1.4em;
}

.main-footer .widget h4 {
	color: #FFF;
font-size: 1.6em;
margin: 25px 0 15px; 
}
.main-footer .widget address{
	color: #FFF;
}

.main-footer .widget p {
	font-size: 1em;
	color: #FFF;
}

.main-footer .gallery-flickr .flickr-widget a { 
	width: 30%;
}

/* Project details
 ====================================================================== */ 
.content-wrapper{
	padding-top: 10px;
}

#projectCarousel {
	margin-top: 20px;
}
#projectCarousel .carousel-caption{
	max-width: 100%;
	right: 0;
	left: 0;
	
	background: rgba(0, 0, 0, 0.6);
	padding: 5px 15px; 
	text-align: center;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	bottom: -100px;
	opacity: 0;
}
#projectCarousel:hover .carousel-caption{
	bottom:10px ;
	opacity: 1;
}
#projectCarousel  .carousel-indicators{
	bottom:0;
}
 

/* Social Icons 
 ====================================================================== */ 
.social-icons ul li{
	font-size: 22px;  
	margin-bottom: 15px;
}
.social-icons ul li a{ 
	padding: 10px;
	border-radius: 50%; 
	 width: 40px;
	height: 40px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;		
}
.social-icons ul li a:hover{
	color: #2f373b;
	text-decoration: none;
	background: #f1f1f1;
}


/* Inner Pages
 ===============================================================*/
.title-box {  
		border-top:1px solid #363E47; 
}

 #page-title {
		margin: 0;  
		padding-top: 75px; 
		background-position-y: -35px;
}
	#page-title h2 {
		display: inline-block;
		color: white;
		padding:0px 0 15px;
		font-size: 28px;
		font-weight:normal;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
		-webkit-animation-delay: .4s;
		-moz-animation-delay: .4s;
		-o-animation-delay: .4s;
		animation-delay: .4s;
		text-transform: uppercase;
		float: left;
	}
	#page-title h2 i {
		margin-right: 8px; 
	}
	.breadcrumb { 
		padding: 8px 15px;
		margin-top:20px;
		list-style: none;
		background-color:transparent;  
	}
	.content-wrapper .headline h1 {
		font-size:2.1em;
	}
	
	.content-wrapper .headline h2 {
		font-size:1.8em;
	}

/* Sidebar
 ======================================================= */
.left-sidebar aside{
	padding-right:10px;
}
.right-sidebar aside{
	padding-left:10px;
}
aside.widget{
	margin-bottom: 20px;
} 
.headline h1 { 
	padding-bottom: 10px;
	display: inline-block;
	margin-bottom: -2px;
	border-bottom: 2px solid #9EA2A3;
}
.headline h2 { 
	padding-bottom: 10px;
	display: inline-block;
	margin-bottom: -2px;
	border-bottom: 2px solid #9EA2A3;
}
.headline {
	display: block;
	margin: 0 0 15px 0;
	border-bottom: 1px dotted #E4E9F0; 
}
.categories-list li{
	margin-bottom: 5px;
}
.list-unstyled.categories-list .fa{
	margin-right:10px;
}
.heading-top{
	margin-top: 0;
}

/* sidebar menu*/
.list-group.sidebar-menu{
	 
}

.sidebar-menu .list-group-item{
	border-radius: 0 ;
	padding: 8px 15px;
	background-color:transparent;
	border:0;
	border-bottom: 1px solid #CFD3D6;
}
.sidebar-menu li:first-child .list-group-item{
	border-radius: 5px 5px 0 0 ;
}
 
.sidebar-menu  li:last-child .list-group-item{
	border-bottom: 0;
	border-radius:0 0 5px 5px;
}
.sidebar-menu .list-group-item i{
	margin-right: 10px;
}

.skills-items{
	margin-bottom: 10px;
}
.skills-items h4{ 
	font-size: 1.2em;
}

/* Photo Stream Flickr */
.gallery-flickr .flickr-widget {margin-right: -12px; margin-top: 15px;}
.gallery-flickr .flickr-widget img {display: block; width: 100%;
	height: auto;border-radius: 4px;}
.gallery-flickr .flickr-widget a:hover {border-color: #505050;}

.gallery-flickr .flickr-widget a {
	float: left;
	width: 32%;
	padding: 4px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	overflow:hidden;
}

/* Our Team */
.team-thumbnail{
	background:#F4F5F3; 
	text-align: center;  
	border-radius:5px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;  
	padding-top: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.team-thumbnail:hover{
	background: #F8F8F8;
	-webkit-box-shadow: 0px 0px 5px #CCC;
	-moz-box-shadow:  0px 0px 5px #CCC;
	box-shadow:  0px 0px 5px #CCC;
}
.team-thumbnail-img{
	width: 160px;
	height: 160px;
	padding: 5px;
	display: block;	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%; 
	border:5px solid white;	
	z-index: -1;
	margin:0 auto; 
	background: #CCC;
}
 
.team-thumbnail-img img{
	width: 140px;
	height: 140px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%; 
}

.team-thumbnail:hover img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.team-thumbnail .caption{
	padding: 5px;
}

.social-btn{
	border-radius:0 0 5px 5px;
	padding: 15px 0;
} 

.icon-circle {
	padding: 0.4em 0.7em;
	border-radius: 50%; 
	min-width: 35px;
	min-height:30px;
}


/* Portfolio Page
====================================================================== */

#filtrable {
  margin-left: 0;
  margin-top: 30px;
  padding-left: 0;
  text-align: center; 
}
#filtrable li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  list-style: none;
}
#filtrable a {
  display: inline-block;
  padding: 7px 15px;
  background-color: #ffffff;
  color: #555555;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#filtrable a:hover {
  background-color: #eeeeee;
}
#filtrable .active a { 
  color: #ffffff;
}
.portfolio.thumbnails { 
	display: block;
	margin:0;
	padding: 0;
}
.portfolio.thumbnails li{
	list-style: none; 
	margin-top:35px ;
}
 
/* home recent work
 ====================================================================== */
 
.portfolio-item {
	-webkit-animation-duration: .3s;
	-moz-animation-duration: .3s;
	-o-animation-duration: .3s;
	animation-duration: .3s; 
}
.portfolio-col-4 .portfolio-item{
	min-height: 270px
}

.portfolio-col-3 .portfolio-item{
	min-height:345px
}
.portfolio-item img {
	border-radius: 5px 5px 0 0;
}
.rw-details {
	background: #F8F8F8;
	border-radius: 0 0 5px 5px;
	padding: 12px 0 5px;
	border-top: 2px solid #F27C7C;
}
.portfolio-item a{
	display: block;
	position: relative;
	border-radius: 5px 5px 0 0;
}
.rw-details h5 {
	font-weight: bold;
	margin-top: 0;
}
.image-overlay-link {
	background-image: url(../img/overlay-icon-link.png);
}
.image-overlay-link {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	height: 50px;
	width: 50px;
	left: 0;
	top: -100%;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 40;
	display: block;
	background-color: rgba(0, 0, 0, 0.8);
	background-repeat: no-repeat;
	background-position: 50%;
	cursor: pointer;
	margin: auto;
	border-radius: 50%;
	opacity: 0;
	filter: alpha(opacity=0);
	overflow: hidden;
}

.image-overlay-bg {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 40;
	opacity: 0;
	filter: alpha(opacity=0);
	display: block;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px 5px 0 0;
}

.portfolio-item a:hover .image-overlay-link, .portfolio-item a:focus .image-overlay-link, .portfolio-item a:hover .image-overlay-bg, .portfolio-item a:focus .image-overlay-bg {
	opacity: 1;
	filter: alpha(opacity=100);
	top: 0;
}



/* Blog
========================================================= */
.blog-post{   
	padding-bottom: 30px;
	border-bottom: 3px solid #E4E4E4;
 }
 
.blog-post:last-of-type{
 	border-bottom: 0;
 }
.blog-post h2{
	margin-bottom: 20px;
}
.blog-img{
	text-align: center;
	-webkit-animation-duration: .3s;
	-moz-animation-duration: .3s;
	-o-animation-duration: .3s;
	animation-duration: .3s; 
	padding: 5px;
	background: #F1F1F1;
	border: 1px solid #DADADA;
	margin-bottom: 20px;
}

.blog-img a:hover .image-overlay-link, .blog-img a:focus .image-overlay-link, .blog-img a:hover .image-overlay-bg, .blog-img a:focus .image-overlay-bg {
	opacity: 1;
	top: 0;
}

.blog-img a{
	display: block;
	position: relative;
	border-radius:0;
}
 
.blog-post p{
	font-size: 1.1em; 
}
.blog-entry-meta-date {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 5px;
    font-size: 14px;
    vertical-align: top;
}

.blog-entry-meta-author { 
	 display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    vertical-align: top;
}

.blog-entry-meta-tags { 
	 display: inline-block;
    margin-right: 25px;
    margin-bottom: 5px;
    font-size: 14px;
    vertical-align: top;
}

.blog-entry-meta-comments { 
	 display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    vertical-align: top;
}

.blog-entry-meta i {
	margin-right: 4px;
}
.blog-sm {
	margin-top:35px;
}
.blog-sm h2{
	margin-top: 0;
}

.blog-sm .blog-entry-meta{
	background: #FAFAFA;
	padding: 10px 10px 5px;
	border-radius: 5px; 
}
/* Single Post */

/* Author Info */
.about-author {
    margin-top: 30px;
}

.author-content {
    padding: 20px;
    border: 2px solid #F3F3F3;
}

.author-content .avatar {
    float: left;
    margin: 0 20px 0 0; 
}

.avatar {
	border: 1px solid #ddd;
	padding:4px !important;
	border-radius: 100%;
	display: inline-block;
}

.avatar img {
	border-radius: 100%;
	 float: left;
    max-width: 70px;
    height: 70px;
}

.author-content .data {
    margin: -10px 0 0;
} 


/* Comments Section */
.comments-sec {
    float: left;
    width: 100%;
    margin: -5px 0 25px;
}

ol.commentlist li {
    float: left;
    padding: 10px 0 15px;
}

ol.commentlist {
    float: left;
    width: 100%;
    margin: 0;
}

ol li ol.childlist {
    float: right;
    width: 86%;
    margin: 0;
}

ol.commentlist li ol.childlist li:first-child {
    padding: 25px 0 0;
}

ol.commentlist li:first-child {
    margin: 0 0 7px;
    padding: 25px 0 0;
}

.avatar img {
    float: left;
    max-width: 70px;
}

.comment-des p {
    line-height: 23px;
    margin: 0;
}

.comment-des {
    float: left;
    background: #fafafa;
	border: 1px solid #ddd;
    color: #888;
    -webkit-box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.06);
    -moz-box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.06);
    box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.06);
    margin: -70px 0 0 100px;
    padding: 19px 22px 22px;
}

.lt-ie9 .comment-des { 
    margin: -85px 0 0 100px; 
}
.lt-ie9 .comment:before {
	display: none;
}
.lt-ie9  .avatar {
	 max-width: 70px;
}

.comment:before {
    position: absolute;
    display: block;
    content: "";
    margin-left: 93px;
    margin-top: 25px;
    width: 15px;
    height: 15px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: none;
    border-top: 0;
    z-index: 1;
}

.comment-des strong {
    float: left;
    padding-right: 5px;
    font-size: 14px;
    color: #666;
}

.comment-des span {
    float: left;
    color: #999;
}

.comment-by {
    float: left;
    width: 100%;
    padding-bottom: 8px;
    padding-top: 5px;
}

.comment-by span.reply {
    float: right;
    display: inline;
}

.comment-by span.reply a {
    float: right;
    height: 17px;
    margin-left: 5px;
    font-weight: 400;
    color: #999;
}

.comment-by span.reply a i {
    color: #bbb;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.comment-by span.reply a:hover,.comment-by span.reply a:hover i {
    color: #a0a0a0;
}

.comment-by span.date {
    color: #999;
    float: left;
    font-weight: 300;
    margin: 0 0 0 2px;
    padding: 0 0 0 9px;
}

.reply label {
    margin: 0 0 4px;
}

.reply label span {
    color: #e24747;
}

.reply input {
    margin: 0 0 20px;
}

.reply textarea {
    min-width: 97.5%;
    min-height: 180px;
    -webkit-resize: vertical;
    -moz-resize: vertical;
    -webkit-resize: vertical;
    -moz-resize: vertical;
    resize: vertical;
    margin: 0 0 18px;
}


/* pagination */
.pagination > li > a, .pagination > li > span{
	color:inherit;
	text-decoration: none;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
	color:inherit;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
 	border-color:#DDD;
	 
}

/* Tabs widget*/
.nav-tabs > li  > a {
	background: #FFF;
	border-radius: 0; 
	color:#444;
	border:1px solid #DDD;
	padding: 10px 10px;
}
 .nav-tabs > li  > a:hover, .nav-tabs > li  > a:focus ,
.nav-tabs > li.active > a,  .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { 
	border-radius: 0; 
	color:#FFF;
	border:1px solid #f29a0d;
}
.tab-content{
	border:1px solid #DDD;
	border-top: 0;
	padding: 10px;
}
.article-title{margin-top: 0;}
.sponsors-logo {
	margin-top: 35px; 
}

/* Contact Page 
 * ============================================================== */
.address-block .list-unstyled .fa {
	margin-right: 5px;
}

/* Google Map
=================================================================== */
#googlemaps img {
    max-width: none;
}

#googlemaps-container-top {
	position: relative;
	z-index: 2; 
	height:10px;
}

#googlemaps-container-bottom {
	position: relative;
	z-index: 5; 
	height: 20px;
	margin-top: -40px;
	border-bottom: 5px solid #EBEBEB;
}

#googlemaps{
	position: relative;
	z-index: 1;
	height: 350px;
	width: 100%;
	top: -20px;
} 

.gmap_block{
	padding-right: 0px !important;
	padding-left: 0px !important;
	overflow: hidden;
	position: relative;
}


.contactform label input{
	margin-top: 5px;
}

/* Testimonials page
====================================================================== */
.testimonials-list{   
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease; 
}
 .testimonials-list li {
 	margin-top: 20px;
 	border-radius: 5px;
 	background: #F4F5F3;
 	
 }
.client-thumbnail-img{
	width: 120px;
	height: 120px;
	padding: 5px;
	display: block;	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%; 
	border:5px solid white;	
	z-index: -1;
	margin:0 auto; 
	background: #CCC;
	margin-top: 15px;
	margin-bottom: 15px;
	overflow: hidden;
}
 
.client-thumbnail-img img{
	width: 100px;
	height: 100px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;  
}

.client-thumbnail-img:hover img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.client-thumbnail-img .caption{
	padding: 5px;
}
.testimonials-list blockquote {
	border-left: 0;
	margin-top: 15px;
	margin-bottom: 5px;
	padding:10px ; 
	font-size: 1.2em
}
 .testimonials-name{
 	margin-bottom: 15px;
 	padding:10px ; 
 	font-size: 1.2em;
 }
 blockquote i.fa{
 	color: #B9B9B9;
 	margin-left: 5px;
 	margin-right:5px;
 }


/* Coming soon page
 ====================================================================== */ 
 #page-title.coming-soon-logo {
 	padding-top: 0;
 }
 
 .coming-soon-logo .navbar-brand{
 	float: none;
 	padding: 25px 0;
 	display: inline-block;
 	font-size: 2em;
 }
.animated-txt-block{
	padding-top:10px;
}
.coming-soon-form {
	margin-top: -50px;
}
.coming-soon-form p{
	font-size: 1.2em;
}
 
.no-csstransforms3d .animated-txt-block{
	min-height: 300px;
}
 
.animated-txt-block h6{
	font-size:3.6em;
	text-transform: uppercase;
	top: -100px;
	position: relative;
}

/*  login form */
.login-form{
	padding: 0 20px 20px ;
	border: 1px solid #DDD;
	border-radius: 5px;
	margin-top: 20px;
	background: #F8F8F8;
}
.login-form .login-links{
	margin-top: 20px;
}
.login-form form label{
	font-size: 1.1em; 
	margin-top: 10px; 
	color: #A5A5A5;
	display: block;
	text-align: left; 
	margin-left: 2px;
	 
}
.login-links a{
	margin-top:5px;
}

/* 404 page not found
====================================================================== */
#error-404{
	padding: 10px; 
	border-radius: 5px;	
	border:1px solid #E4E4E4;
	background: #FAFAFA;
	margin-top: -70px;	
}
#error-404 ul{
	margin-left: 20px;
}
#error-404 h5{
	font-size: 1.4em;
}

/* Gallery Page
====================================================================== */
.gallery-thumbnails {
	margin-top: 25px;
}
.gallery-item a{
	display: block;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}

.gallery-item a,.gallery-item a img{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.gallery-item a:hover .image-overlay-link, 
.gallery-item a:focus .image-overlay-link, 
.gallery-item a:hover .image-overlay-bg, 
.gallery-item a:focus .image-overlay-bg {
	opacity: 1;
	top: 0;
}
.gallery-item .image-overlay-link {
background-image: url(../img/overlay-icon-zoom.png);
}
#blueimp-gallery .modal-body img{
	max-width: 100%;
}
.blue-gallery-thumb a img{
	max-width: 13.5%;
}


/* Photo Stream Flickr 
=================================================================== */
#gallery-flickr .flickr-widget {margin-right: -12px; margin-top: 15px;}
#gallery-flickr .flickr-widget img {display: block; width: 100%;
	height: auto;}
#gallery-flickr .flickr-widget a:hover {border-color: #505050;}

#gallery-flickr .flickr-widget a {
	float: left;
	width: 23%;
	height: 170px;
	margin-left: 0px;
	margin-right: 11px;
	margin-bottom: 12px;
	 
	padding: 4px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	overflow:hidden;
}

.ie7 #gallery-flickr  .flickr-widget a {width: 212px; height: 152px;}


#gallery-flickr  .gallery-thumbnail {
	position: relative;
	display: block;
	padding: 8px;
	border: 1px solid #CCC;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	color: #333;
	background: white;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s  ease-in-out;
	transition: all 0.2s  ease-in-out;
}
#gallery-flickr ul{
	padding: 0;
	margin: 0 0 10px 25px;
	list-style: none;
}
#gallery-flickr  .gallery-thumbnail img {border:1px solid #FFF}
#gallery-flickr  .gallery-thumbnail:hover {background:#EAEAEA; border: 1px solid #f1f1f1;}


/* Pricing Table
 ====================================================================== */ 
.pricing-block {
	 margin-top: 25px;
    margin-bottom: 15px; 
}

 
.pricing-block .plan-header {
    padding-bottom: 15px;
}

.pricing-block .plan-header .popular-tag {
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
     color: #FFF;
     background:#41434e;
     margin-top: 0;
}

.pricing-block .plan-header small {
    display: block;
    text-align: center;
    font-style: italic;
    color: #FFF;
}

.pricing-block .plan-title {
    text-align: center;
    margin: 0;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    padding-top: 10px;
}

.pricing-block .price-tag {
    margin: 0;
    height: 70px;
    line-height: 70px;
    font-size: 58px;
    font-weight: 500;
    text-align: center;
    color:#FFF;
}

.pricing-block .price-tag span {
    font-size: 28px; 
}

.pricing-block .price-tag span.price-type {
    font-size: 20px; 
}

 
.pricing-block ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 13px;
    text-align: center;
}

.pricing-block ul li:last-child {
    border-bottom: 0
}

.pricing-block ul li i {
    margin-right: 8px
}

.pricing-block .plan-info {
    margin: 0;
    padding: 15px;
    font-size: 13px;
    text-align: center;
    font-style: italic;
}

.pricing-block .plan-btn {
    padding: 15px 0;
    border-top: 1px solid #f1f1f1;
} 
 
.pricing-block .price-box {
    margin-top: 20px; 
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	position: relative;
	overflow: hidden;
	cursor: default;
	border: 1px solid #DDD;
	 z-index: 1; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.pricing-block .price-box:hover,.pricing-table .price-box:hover {
    -webkit-box-shadow: 0 -4px 14px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 -4px 14px rgba(0,0,0,0.2);
    box-shadow: 0 -4px 14px rgba(0,0,0,0.2);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}

.pricing-block .price-box-inverse:hover,.pricing-table .price-box-inverse:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

 
.pricing-table .price-box.popular,.pricing-block .price-box.popular {
    margin-top: 0;
    -webkit-box-shadow: 0 -4px 14px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 -4px 14px rgba(0,0,0,0.2);
    box-shadow: 0 -4px 14px rgba(0,0,0,0.2);
}

.pricing-table .price-box.popular:hover,.pricing-block .price-box.popular:hover {
    -webkit-box-shadow: 0 -4px 14px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 -4px 14px rgba(0,0,0,0.3);
    box-shadow: 0 -4px 14px rgba(0,0,0,0.3);
}

.pricing-table .plan-btn {
    margin-top: 0;
    border: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #f1f1f1;
}

.pricing-table .plan-info {
    text-align: center;
    margin-bottom: 15px;
}

/* Video Gallery Page
 ====================================================================== */ 
/* Flex Video */
.flex-video {
  position: relative;
  padding-top: 1.5625em;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 1em;
  overflow: hidden; }
  .flex-video.widescreen {
    padding-bottom: 57.25%; }
  .flex-video.vimeo {
    padding-top: 0; }
  .flex-video iframe,
  .flex-video object,
  .flex-video embed,
  .flex-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    
  #video-gallery h4{
  	margin-bottom: 30px;
  }


 /* Mobile App page
 ====================================================================== */ 
 
/* iPhone styles  */
 div.iphone {
	background: url('../img/iphone/iphone_black.png') no-repeat center center;
	height: 530px;
}

div.iphone > div.carousel {
	 width:190px;
	 height: 288px;
	 background: #000;
	 margin:0 auto;
	 top: 22.2%;
	 left:1px;
	  
}

/* Android styles  */
 div.android {
	background: url('../img/android/android_black.png') no-repeat center center;
	height: 530px;
}

div.android > div.carousel {
	 width:190px;
	 height: 302px;
	 background: #000;
	 margin:0 auto;
	 top: 22.2%;
	 left:1px;
	  
}

/* iPad styles  */
 div.ipad {
	background: url('../img/ipad/ipad_black.png') no-repeat center center;
	height: 530px;
}

div.ipad > div.carousel {
	 width:275px;
	 height: 365px;
	 background: #000;
	 margin:0 auto;
	 top: 15.3%;
	 left:1px;
	  
}
.ipad-carousel{	
	margin-left: 42% !important;
}


 
#mobile-app .carousel-nav {
	margin-top: -14px; 
	 text-align: center;
	position: relative;
	top: -16px;
}

#mobile-app .carousel-nav a {
    display: inline-block;
    width: 10px;
    height: 10px;
    background:#DDD;
    text-indent: -9999px;
    border: 0;
    border-radius:5px;
    margin-right: 3px;
    -webkit-box-shadow: inset 0  0 5px #999;
    -moz-box-shadow:  inset 0  0 5px #999;
    box-shadow: inset 0  0 5px #999;
}
#mobile-app  .carousel-nav a.active {
    background:#999;
}

.app-details-box {
	padding:5px 10px;
	color:#FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-bottom:35px;
	-webkit-box-shadow: 3px 3px 5px #D3D3D3;
	-moz-box-shadow:  3px 3px 5px #D3D3D3;
	box-shadow:  3px 3px 5px #D3D3D3;
}
.app-details-box h3{
	margin-top: 0;
	font-size: 1.4em;
}
.ver_block{
	padding: 10px 0 20px;
}

.ver_block span{
	padding: 10px 20px;
	background: #eee;
	color: #666;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 1px 1px 1px #fff;
	-webkit-box-shadow: inset 1px 1px 2px 2px #ddd;
	-moz-box-shadow: inset 1px 1px 2px 2px #ddd;
	box-shadow: inset 1px 1px 2px 2px #ddd;
	font-weight: bold; 
	font-size: 1.2em;
	
}
 

 
/* Android styles  */
 div.android {
	background: url('../img/android/android_black.png') no-repeat center center;
	height: 530px;
}

div.android > div.carousel {
	 width:190px;
	 height: 302px;
	 background: #000;
	 margin:0 auto;
	 top: 22.2%;
	 left:1px;
	  
}

.download_block{
	margin-top: 20px;
	margin-left: 15px;
} 
.download-icon{
	text-decoration: none;
	width: 171px;
	height: 57px;
	margin:0 10px 10px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	display: inline-block;
	opacity:0.8;
	position: relative;
	 
}
.download-icon:hover{
	 opacity: 1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	bottom:5px;	
	text-decoration: none;
	
}
 
.ico-android{
	background: transparent url(../img/dwn_android.png) no-repeat;
}
.ico-iphone{
	background: transparent url(../img/dwn_iphone.png) no-repeat;
}
.ico-ipad{
	background: transparent url(../img/dwn_ipad.png) no-repeat;
}
.ico-windows{
	background: transparent url(../img/dwn_windows.png) no-repeat;
}
.ico-blackberry{
	background: transparent url(../img/dwn_blackberry.png) no-repeat;
}
 
 
 /* Tables */
.table-default th { 
	background:#EEE; 
}
 .table-primary th{ 
	background:#4286C3; 
	color:#FFF; 
}
 .table-success th{
	background:#68BD68; 
	color:#FFF; 
} 
 .table-info th{
	background:#269abc; 
	color:#FFF; 
}
.table-warning  th{
	background:#F0AC46; 
	color:#FFF; 
}
 .table-danger th {
	background:#EC413C;
	color:#FFF; 
}
table .btn .glyphicon {
	margin-right:3px ;
}
 


/* For Touch Screen
 ====================================================================== */ 
.touch #projectCarousel .carousel-caption{
	bottom: 30px;
	opacity:1;
}

/* For IE 8  
 ====================================================================== */ 
.lt-ie9 .image-overlay-link { 
	top: -120%; 
	background-color:#000 ;
	filter: alpha(opacity=70);
}
.lt-ie9 #filtrable a { 
  background-color: #f1f1f1;
}
 
/* Bootstrap Media Queries Overright
 ====================================================================== */ 
@media (min-width: 768px) {
	/* Carousel base class */
	.carousel {
		height: 450px; 
	}
	/* Declare heights because of positioning of img element */
	.carousel .item {
		height: 450px;
	}
	.content-wrapper.home-margin-top {
	padding-top: 0px;
	}
	 
	.navbar-nav > li > a { 
		padding: 10px 10px 0px;
	} 
	.no-csstransforms3d .navbar-nav > li > a { 
		padding-bottom: 10px;
	} 
	.navbar-nav > li.active > a.roll {
		padding-bottom: 10px;
	}
	.navbar-wrapper {
		margin-top: 20px;
	}
	 
	.navbar-wrapper .navbar {
		padding-left: 0;
		padding-right: 0;
	}

	.navbar-wrapper .navbar {
		border-radius: 4px;
	}
	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 1.8;
	}
	
	/*To fix navbar to top*/
	.navbar-wrapper.affix {
	    position: fixed;
	    top: 0;
	    width: 100%;
	    margin-top: 0;
	    background:#1f2330; 
	}
	.affix .navbar { 
		margin-bottom: 5px;
		margin-top: 5px;
	} 
	.affix .navbar-nav {
		margin-top: 5px;
	}
	
	
	.roll {
		display: inline-block;
		overflow: hidden;
		vertical-align: top;
		-webkit-perspective: 400px;
		-moz-perspective: 400px;
		perspective: 400px;
		-webkit-perspective-origin: 50% 50%;
		-moz-perspective-origin: 50% 50%;
		perspective-origin: 50% 50%;
	}
	.roll span {
		display: block;
		position: relative;
		padding: 0 2px;
		-webkit-transition: all 400ms ease;
		-moz-transition: all 400ms ease;
		-webkit-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
		 transform-origin: 50% 0%;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		 transform-style: preserve-3d;
	}
	.roll:hover span { 
		-webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
		-moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
		transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
		
	}
	.roll span:after {
		content: attr(data-title);
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		padding: 0 2px;
		color: #fff; 
		-webkit-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		-webkit-transform: translate3d( 0px, 106%, 0px ) rotateX( -89deg );
		-moz-transform: translate3d( 0px, 106%, 0px ) rotateX( -89deg ); 
		transform: translate3d( 0px, 106%, 0px ) rotateX( -89deg ); 
	} 
	
	.no-csstransforms3d .roll span:after{
		display: none;
	}
	 

}

@media (min-width: 992px) {
	.portfolio-col-2 .portfolio-item{
		min-height: 500px;
	}
	
	.text-right.app-details-box:after {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(136, 183, 213, 0); 
		border-width: 15px;
		margin-top: -15px;
	}
	
	.text-left.app-details-box:after {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(136, 183, 213, 0); 
		border-width: 15px;
		margin-top: -15px;
	}
	
	.app-details{
		margin-top:70px;
	}
 
}


/* Custom Media Queries
 ====================================================================== */
/*Large desktop*/
@media (min-width: 1200px) {
}

/* Desktop*/
@media (min-width: 993px) and (max-width: 1199px) {
}

/*Portrait tablet to landscape tablet and desktop*/
@media (min-width: 768px) and (max-width: 992px) {
	.block-header p{ 
		width: auto; 
	} 
	.header .carousel {position: relative;  text-align: center; min-height: 500px;} 
    .header .carousel-caption {position: relative; max-width: 100%; text-align: center; right: auto; left: auto;margin-top: 80px;}
    .header .carousel-container img  {position: relative;text-align: center; right: auto; left: auto; margin: 0 auto; max-width: 300px; bottom: auto;  }
    .header .carousel .item{min-height: 500px;}
    .home-margin-top{margin-top:500px;}
	.header .carousel-caption.caption-center{margin-top: 150px;}
	.portfolio.thumbnails li{ 
		margin-top:0 ;
	}
	.portfolio.thumbnails .project-item{
		margin: 20px auto 20px;
	}
	.portfolio-block {	margin-top: 20px;	} 
	.portfolio-item img {
		border-radius: 5px 5px 0 0; 
		text-align: center;
		display: block;
		margin: 0 auto; 
	}
	.portfolio-item {margin-top: 25px;}
	.portfolio-col-4 .portfolio-item{
		min-height: 370px;
	}
	
	.portfolio-col-3 .portfolio-item{
		min-height:370px;
	}
	
	.portfolio-col-2 .portfolio-item{
		min-height:400px;
	}
	.blog-sm .blog-entry-meta{ 
			margin-top: 10px; 
	}
	.tab-content h5.article-title a{
		font-size: 1.6em;
	}
	.tab-content .article-img {
		margin-bottom: 10px;
	}
	
	.blue-gallery-thumb a img{
		max-width: 19.5%;
	}
	.app-details-box{
		text-align: left !important;
		margin-bottom:15px;
	}
	
}

/*Landscape phone to portrait tablet*/
@media (max-width: 767px) {
	.block-header p{ 
		width: auto; 
	}
	.header .carousel {position: relative;  text-align: center; min-height: 500px;} 
    .header .carousel-caption {position: relative; max-width: 100%; text-align: center; right: auto; left: auto;margin-top: 80px;}
    .header .carousel-container img  {position: relative;text-align: center; right: auto; left: auto; margin: 0 auto; max-width: 300px; bottom: auto;  }
    .header .carousel .item{min-height: 500px;} 
	.header .carousel-caption.caption-center{margin-top: 150px;}
	.home-margin-top{margin-top:500px;} 
	.roll:hover span{
		color:#FFF;
	}
	.roll:hover span{background-color: transparent !important; }
	.header-bottom p,.theme-download-btn{text-align: center}
	
	/*collapsed Navbar*/
	#page-title { 
		padding-top: 50px;
	}
	.navbar-collapse{ background:#f1f4f7; border-bottom: 2px solid #FFF; }
	.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,
	.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
		color: #FFF;
		border-radius:0px;
	} 
	.navbar-inverse .navbar-nav > li > a, .dropdown-toggle,.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
		color:#444 !important;
	} 
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, 
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus,.nav .open > a,
	.nav .open > a:hover, .nav .open > a:focus,
	.navbar-inverse .navbar-nav > .open > a,
	.navbar-inverse .navbar-nav > .open > a:hover, 
	.navbar-inverse .navbar-nav > .open > a:focus {
	 	color:#444;
	 	background: #ddd;
	 } 
	 .dropdown-menu li a{
		padding-left: 15px;
	 } 
	 .dropdown-menu .dropdown-menu li a{
		padding-left: 40px !important;
	 }
	 .portfolio.thumbnails li{ 
		margin-top:0 ;
	}
	.portfolio.thumbnails .project-item{
		margin: 20px auto 20px;
	}
	.navbar-wrapper .navbar {
		background: #222;
	}
	.content-wrapper.home-margin-top {
		padding-top: 0px;
	}
 	
	
	/*To fix navbar to top*/
	.navbar-wrapper.affix {
	    position: fixed;
	    top: 0;
	    width: 100%;
	    margin-top: 0;
	    background:#1f2330; 
	}
	.affix .navbar { 
		margin-bottom: 5px;
		margin-top: 5px;
	} 
	.affix .navbar-nav {
		margin-top: 5px;
	}
	
	.portfolio-block {	margin-top: 20px;	}
	
	 .portfolio-item img {
		border-radius: 5px 5px 0 0;
		width: 100%;
	}
	.portfolio-item {margin-top: 25px;} 
	
	.portfolio-col-4 .portfolio-item{
		min-height: 350px;
	}
	
	.portfolio-col-3 .portfolio-item{
		min-height:350px;
	}
	.portfolio-col-2 .portfolio-item{
		min-height:350px;
	}
	
	.blog-sm  .blog-img {
		display: inline-block;
	}
	
	.blog-sm .blog-entry-meta{ 
			margin-top: 10px; 
	}
	
	.tab-content h5.article-title a{
		font-size: 1.6em;
	}
	
	.tab-content .article-img {
		margin-bottom: 10px;
	}
	.blue-gallery-thumb a img{
		max-width: 19.5%;
	}
	
	.app-details-box{
		text-align: center !important;
		margin-bottom:15px;
		
	}
	  
}

/*Landscape phones and down*/
@media (max-width: 480px) {
	.header .carousel .item{min-height: 600px;}
    .home-margin-top{margin-top:600px;}
    .header .carousel {min-height: 600px;} 
    .header .carousel-caption.caption-center{margin-top: 80px;}
    .email-box{display:block}
    #page-title h2{
    	display: block;
    	text-align: center;
    	font-size: 1.8em;
    	padding-bottom: 5px;
    	float: none;
    }
    .breadcrumb.pull-right {
	float: none !important;
	text-align: center;
	margin-top: 0px;
	padding-bottom: 0;
	margin-bottom: 10px;
	}
	
	.portfolio-col-4 .portfolio-item{
		min-height: 380px;
	}
	
	.portfolio-col-3 .portfolio-item{
		min-height:380px;
	}
	
	.portfolio-col-2 .portfolio-item{
		min-height:300px;
	}
	
	.portfolio-col-2 .col-xs-6,.portfolio-col-3 .col-xs-6,.portfolio-col-4 .col-xs-6 {
		width: 100%;
	}
	.blue-gallery-thumb a img{
		max-width: 24%;
	}
}

 
.form-error {
    color: red;
}
