{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}{% trans "About" %}{% endblock %}
{% block pagetitle %}
    <!--page Title-->
    <div id="page-title">
        <div class="title-box">
            <div class="container">
                <h2 class="icon-size animated fadeInUp"><i class="glyphicon glyphicon-user"></i>
                    {% trans "About Us" %}
                </h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                    <li class="active">{% trans "About Us" %}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section class="middle">
        <div class="container">
            <div class="row">

                <!-- Start content-block column-->
                <div class="col-sm-12 col-md-9 ">
                    <div class="content-block">
                        <div class="headline">
                            <h1>{% trans "About Us" %}</h1>
                        </div>
                        <p>
                            <img src="{% static "img/large-img-01.jpg" %}" alt="{% trans "About us" %}"
                                 class="img-responsive"/>
                        </p>

                        <p>
Startupreneurs AB is the Swedish company, working in the EU countries with innovative and startup projects as IT partner and solution provider - software development and telecom
                        </p>

                        <p>
We build the strong relationship with our partners and customers to guarantee the long-term lifecycle and success of the products 
                        </p>


                        <div class="headline">
                            <h2>{% trans "Our History" %}</h2>
                        </div>
                        <p>
                            Startupreneurs AB was founded by two IT and management experts that know each other from the university times but met years after to create the new sophisticated team
                        </p>

                        <hr/>
        

                        <div class="row our-team">
                            <div class="headline text-center">
                                <h2>{% trans "Meet Our Team" %}</h2>
                            </div>
                            <p class="text-center">Come and say hi to us :)
                            </p>

                            {% for person in team %}
                                <div class="col-sm-6 col-md-4">
                                    <div class="team-thumbnail">
                                        <div class="team-thumbnail-img">
                                            {% thumbnail person.image "320x250" crop="center" as im %}
                                                <img src="{{ im.url }}" alt="{{ person.title }}">
                                            {% endthumbnail %}
                                        </div>
                                        <div class="caption text-center">
                                            <h4>{{ person.first_name }} {{ person.last_name }}, {{ person.position }}</h4>

                                            <p>{{ person.about|safe }}</p>
                                        </div>
                                        {% if person.facebook_url or person.twitter_url %}
                                        <div class="social-btn theme-color">
                                            {% if person.facebook_url %}
                                                <a href="{{ person.facebook_url }}" target="_blank"
                                                   class="btn btn-md btn-carouselwhite icon-circle"><i
                                                        class="fa fa-facebook"></i></a>
                                            {% endif %}
                                            {% if person.twitter_url %}
                                                <a href="{{ person.twitter_url }}" target="_blank"
                                                   class="btn btn-md btn-carouselwhite icon-circle"><i
                                                        class="fa fa-twitter"></i></a>
                                            {% endif %}

                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                        <!-- End .our-team-->
                    </div>
                    <!-- End .content-block-->
                </div>
                <!-- End content-block column-->

                {% include "sidebar.html" %}


            </div>
            <!-- End .row-->
        </div>
        <!-- End .container-->
    </section>  <!-- End .middle-->

{% endblock %}