{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Startup Entrepreneurs is the team of the company Startupreneurs AB from Sweden, experts in IT startups">
    <meta name="author" content="Startupreneurs AB">
    <link rel="shortcut icon" href="favicon.png">

    <title>{% block title %}{% endblock %} | Startup Entrepreneurs</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!-- Custom Color Theme for this template -->
    <link href="{% static "css/theme-cadet_blue.css" %}" rel="stylesheet">

    <!-- font awesome icons -->
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">

    <!-- Banner Animation -->
    <link rel="stylesheet" href="{% static "css/animate-custom.css" %}">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>

    <!-- Toaster -->
    <link href="{% static "css/toastr.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "js/html5shiv.js" %}"></script>
      <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->
</head>

<body>

{% include "header.html" %}
{% block pagetitle %}{% endblock %}
{% block carousel %} {% endblock %}


<div class="content-wrapper {% block extra-content-style %}{% endblock %}">
    {% block content %}{% endblock %}

    {% include "footer.html" %}

</div>
<!-- /.content-wrapper -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="{% static "js/jquery.min.js" %}"><\/script>')
</script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/toastr.min.js" %}"></script>


{% block extra-js-bottom %}{% endblock %}

<script src="{% static "js/custom.js" %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40816910-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
