{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}{{ category.title }} | {% trans "Blog" %}{% endblock %}
{% block pagetitle %}
    <!--page Title-->
    <div id="page-title">
        <div class="title-box">
            <div class="container">
                <h2 class="icon-size animated fadeInUp"><i class="glyphicon glyphicon-pencil"></i> {{ category.title }}
                </h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                    <li><a href="{% url "view_blog" %}">{% trans "Blog" %}</a></li>
                    <li class="active">{{ category.title }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}



{% block content %}


    <section class="middle">
        <div class="container">
            <div class="row">
                <!-- Start content-block column-->
                <div class="col-sm-12 col-md-9">
                    <div class="content-block">
                        {% for post in posts %}
                            <article class="blog-post blog-sm">
                                <div class="row">
                                    <div class="col-md-5 col-sm-4">
                                        <div class="blog-img clearfix no-flip">
                                            <a href="{{ post.get_absolute_url }}">

                                                {% thumbnail post.image "323x233" crop="center" as im %}
                                                    <img src="{{ im.url }}" alt="{{ post.title }}"
                                                         class="img-responsive">
                                                {% endthumbnail %}

                                                <div class="image-overlay-bg">
                                                    <div class="image-overlay-link"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8">
                                        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>

                                        <p>{{ post.content|striptags|safe|truncatewords:20 }}
                                        </p>
                                        <a href="{{ post.get_absolute_url }}"
                                           class="btn btn-theme"> {% trans "Read More" %}</a>
                                    </div>
                                </div>
                                <div class="blog-entry-meta clearfix">
                                    <div class="blog-entry-meta-date">
                                        <i class="fa fa-time"></i>
                                        {{ post.date|date:"F d, Y" }}
                                    </div>
                                    <div class="blog-entry-meta-author">
                                        <i class="fa fa-user"></i>
                                        <a href="#"
                                           class="blog-entry-meta-author">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                                    </div>
                                    <div class="blog-entry-meta-tags">
                                        <i class="fa fa-tags"></i>
                                        <a href="{% url "view_blog_category" post.category.slug %}">{{ post.category }}</a>
                                    </div>
                                    <div class="blog-entry-meta-comments">
                                        <i class="fa fa-comments"></i>
                                        <a href="#" class="blog-entry-meta-comments">4 comments</a>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}


                    </div>
                    <!-- End .content-block-->
                </div>
                <!-- End content-block column-->

                {% include "sidebar.html" %}

            </div>
            <!-- End .row-->
        </div>
        <!-- End .container-->
    </section>  <!-- End .middle-->

{% endblock %}