{% load staticfiles %}
<!-- Carousel
    ================================================== -->
    <div class="header">
	    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
	      <div class="carousel-inner">
	        <div class="item active">
	          <div class="container">
	          	<div class="carousel-container">
		            <div class="carousel-caption caption-center">
		              <h1 class="animated fadeInDownBig">WE BUILD AWESOME WEB APPS</h1>
		              <p class="animated fadeInUpBig ani-delay2"> We create great complex web applications using latest and most efficient technologies</p>
		              <p >
		              	<a class="btn btn-lg btn-carouselwhite animated bounceInUp ani-delay9" href="{% url "contacts" %}" role="button"> Contact us</a>
		              	<a class="btn btn-lg btn-carouselblack animated bounceInUp ani-delay10" href="{% url "services" %}" role="button"> Read More</a>
		              </p>
		            </div>
	            </div>
	          </div>
	        </div> <!-- /.item -->

	        <div class="item">
	          <div class="container">
	         	  <div class="carousel-container">
						<div class="carousel-caption animated bounceInLeft caro-left">
			                  <h1>ALL PLATFORMS</h1>
				              <p>Innovations and startups are not only about websites and web tools - we do projects for all platforms and media. Mobile applications, interactive screens, embedded etc</p>
				              <a class="btn btn-carouselblack" href="{% url "services" %}" role="button">Read more</a>
			             </div>
			             <img src="{% static "img/slider/app-mock.png" %}" alt="" class="animated bounceInRight">
				  </div>
	          </div>
	        </div>   <!-- /.item -->

	        <div class="item">
	          <div class="container">
	          	<div class="carousel-container">
		            <div class="carousel-caption caption-center">
		              <h1 class="animated fadeInDownBig">HIGH LOADED APPS</h1>
		              <p class="animated fadeInUpBig ani-delay2"> In current era of software the most of succesfull project are required to handle huge amount of users, we build optimized solutions</p>
		              <p>
		              	<a class="btn btn-lg btn-carouselblack animated bounceInUp ani-delay10" href="{% url "services" %}" role="button"> Learn More</a>
		              </p>
		            </div>
	            </div>
	          </div>
	        </div> <!-- /.item -->

	        <div class="item">
	          <div class="container">
	         	  <div class="carousel-container">
						<div class="carousel-caption animated bounceInDown caro-left">
			                  <h1>HIGH EXPERTISE</h1>
				              <p>We now what is quality and we are creating our projects with an undertanding of high quality standards of code and the product. </p>
				              <a class="btn btn-carouselblack" href="{% url "services" %}" role="button">Read more</a>
			             </div>
			             <img src="{% static "img/slider/html5.png" %}" alt="" class="animated bounceInUp">
				  </div>
	          </div>
	        </div> <!-- /.item -->

	      </div><!-- /.carousel-inner -->
	      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"> </span></a>
	      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"> </span></a>
	    </div><!-- /.carousel -->
	</div><!-- /.header -->
	 <!-- End Carousel
    ================================================== -->