{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}{% trans "Contacts" %}{% endblock %}
{% block pagetitle %}
    <!--page Title-->
    <div id="page-title">
        <div class="title-box">
            <div class="container">
                <h2 class="icon-size animated fadeInUp"><i class="glyphicon glyphicon-earphone"> </i>
                    {% trans "Contact page" %}</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                    <li class="active">{% trans "Contacts" %}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section class="middle">
        <!-- starts: Google Maps -->
        <div class="gmapfixed_block">
            <div id="googlemaps-container-top"></div>
            <div id="googlemaps" class="google-map google-map-full"></div>
            <div id="googlemaps-container-bottom"></div>
        </div>
        <!-- end: Google Maps -->
        <div class="container">
            <div class="row">
                <!-- Start content-block column-->
                <div class="content-block">
                    <div class="col-md-7 contactform">
                        <div class="headline">
                            <h2>{% trans "GET IN TOUCH" %}</h2>
                        </div>
                        <p>
                            Please initiate a dialog with us by letting us know about your business, we are here to help
                        </p>
                        {% if form.errors %}{{ form.name.errors }}{% endif %}
                        <form class="form-light" role="form" method="post" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>{% trans "Name" %}</label>
                                <input type="text" class="form-control" placeholder="John Smith"
                                       id="id_name" name="name" {% if form.name.value %} value="{{ form.name.value }}" {% endif %}/>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{% trans "Email" %}</label>
                                        <input type="email" class="form-control" placeholder="your@email.com"
                                               id="id_email" name="email" {% if form.email.value %} value="{{ form.email.value }}" {% endif %}>
                                        {% if form.email.errors %}
                                            <div class="form-error">{{ form.email.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label>{% trans "Phone" %}</label>
                                        <input type="text" class="form-control" placeholder="+(XX)-(XXX)-XXX-XX-XX"
                                               id="id_phone" name="phone" {% if form.phone.value %} value="{{ form.phone.value }}" {% endif %}>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>{% trans "Subject" %}</label>
                                <input type="text" class="form-control" id="subject"
                                       placeholder="Subject" id="id_subject" name="subject" {% if form.subject.value %} value="{{ form.subject.value }}" {% endif %}>
                            </div>
                            <div class="form-group">
                                <label>{% trans "Message" %}</label>
                                <textarea class="form-control" placeholder="Write you message here..."
                                          style="height:100px;" id="id_message" name="message">{% if form.message.value %} {{ form.message.value }} {% endif %}</textarea>
                                {% if form.message.errors %}
                                    <div class="form-error">{{ form.message.errors }}</div>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-theme">
                                {% trans "Send message" %}</button>
                        </form>
                    </div>
                    <!-- End .contactform-->

                    <div class="col-md-5 address-block">
                        <div class="headline">
                            <h2>{% trans "Contacts" %}</h2>
                        </div>
                        <p>
                            Cup of coffee together in our premises or any other comfortable place is a good start of the partnership
                        </p>
                        <h4>Head Office</h4>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker"></i> Location: Stockholm, Sweden</li>
                            <li><i class="fa fa-phone"></i> Phone: +46 73 984-3221</li>
                            <li><i class="fa fa-envelope"></i> Email: <a
                                    href="mailto:info@ad-says.com">info@startupreneurs.se</a></li>
                        </ul>

                        <h4>Technical office</h4>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker"></i> Location: Kyiv, Ukraine</li>
                            <li><i class="fa fa-phone"></i> Phone: +38 096 385-8213</li>
                            <li><i class="fa fa-envelope"></i> Email: <a
                                    href="mailto:info@ad-says.com">info@startupreneurs.se</a></li>
                        </ul>
                    </div>
                    <!-- End .address-block-->

                </div>
                <!-- End .content-block-->
            </div>
            <!-- End .row-->
        </div>
        <!-- End .container-->
    </section>  <!-- End .middle-->
{% endblock %}

{% block extra-js-bottom %}
    <!--  js For Google map  -->
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>


    <script src="{% static "js/plugins/jquery.gmap.min.js" %}"></script>
    <script type="text/javascript">
        /* for Google map */

        $(window).load(function () {
            LoadGmaps();
        });

        /* Add Your Company Name latitude and  longitude here.
         * for latitude and longitude please check http://itouchmap.com/latlong.html
         *  */
        var latitude = "59.3420754";
        var longitude = "18.0648189";
        var details = "Startup Entrepreneurs";

        function LoadGmaps() {
            var myLatlng = new google.maps.LatLng(latitude, longitude);
            var myOptions = {
                zoom: 16,
                scrollwheel: true,
                center: myLatlng,
                navigationControl: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("googlemaps"), myOptions);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                icon: '{% static "img/map_icon.png" %}'
            });
            var infowindow = new google.maps.InfoWindow({
                content: details
            });
            google.maps.event.addListener(marker, "click", function () {
                infowindow.open(map, marker);
            });
            infowindow.open(map, marker);

        }

    </script>

{% endblock %}

</body>
</html>
