{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}{% trans "FAQ" %}{% endblock %}
{% block pagetitle %}
    <!--page Title-->
    <div id="page-title">
        <div class="title-box">
            <div class="container">
                <h2 class="icon-size animated fadeInUp"><i class="glyphicon glyphicon-question-sign"></i>
                    {% trans "FAQ" %}
                </h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                    <li class="active">{% trans "FAQ" %}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}

	

		 
		<section class="middle">
				 <div class="container">
				 	<div class="row">
				 		 <!-- Start content-block column-->
				 		<div class="col-sm-12 col-md-9"> 
				 			<div class="content-block">
					 			 <div class="headline">
							 		 <h1>{% trans "Frequently Asked Questions" %}</h1>
							 	 </div> 
							 	  <p>
							 	 	Click on a question to drop down to the answer.
							 	 </p>
							 	 
	       				<!-- FAQ -->
		              <div class="panel-group" id="accordion">
                          {% for item in faq %}
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h5 class="panel-title">
						        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ item.id }}">
						          {{ forloop.counter }}.  {{ item.question }}
						        </a>
						      </h5>
						    </div>
						    <div id="collapse{{ item.id }}" class="panel-collapse collapse" style="height: 0px;">
						      <div class="panel-body">
						        <!-- Details about job -->
			                      <p>{{ item.answer|safe }} </p>
			                    <!-- Contact details. Note down the markup before you edit. -->
						      </div>
						    </div>
						  </div>
						  {% endfor %}
						</div>
							 	 
							 	 
						 	</div><!-- End .content-block-->
				 		</div><!-- End content-block column-->
				 		
				 		{% include "sidebar.html" %}
				 		
				 	</div> <!-- End .row-->
				 </div><!-- End .container-->
        </section>  <!-- End .middle-->
	 
{% endblock %}