{% load i18n %}
<footer class="main-footer">
			<div class="container">
			  	<div class="row">
			  			 <a href="#" class="top-btn theme-color"> <i class="fa fa-angle-up"></i></a>	
							<div class="col-sm-12 col-md-3 about-widget widget">
								<h4>{% trans "About Us" %}</h4>
								<p>We are Startup Entrepreneurs, IT experts with responsibility and knowledge how to make things happen.</p>
								<p>We create innovations from scratch, we touch and fix broken projects and inspire for future!</p>
							</div>
							
							<div class="col-sm-12 col-md-3 gallery-flickr widget">
								<h4>Flickr Photostream</h4>
								<div class="flickr-widget clearfix">
										<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=15817260@N02"></script>                            
			                           <!-- "15817260@N02"  replace this with your flickr ID--> 
									<div class="clearfix"></div>
								</div>
							</div>
							
							<div class="col-sm-6 col-md-3 widget">
								<div class="address">
									<h4>{% trans "Get in Touch With us" %}</h4>
									<address>
										<strong>Our locations</strong><br>
										Stockholm, Sweden<br>
										Kyiv, Ukraine<br>
									</address>
									<address>
										<i class="glyphicon glyphicon-earphone"></i> +46 73 984-3221<br>
										<a href="mailto:#" class="no-flip"><i class="glyphicon glyphicon-envelope"></i> info@startupreneurs.se</a>
									</address>
								</div>
								<div class="social-icons">
							 	 	<ul class="list-unstyled list-inline">
										<li><a href="https://www.facebook.com/pages/Startup-Entrepreneurs/622580134430955" class="fa fa-facebook"></a></li>
										<li><a href="#" class="fa fa-twitter"></a></li>
										<li><a href="#" class="fa fa-google-plus"></a></li>
										<li><a href="#" class="fa fa-linkedin"></a></li>
										<li><a href="#" class="fa fa-pinterest"></a></li> 
									</ul>
							 	 </div> <!-- / Social icons -->  
							</div>
							<div class="col-sm-6 col-md-3 subscribe widget">
								<h4>{% trans "Subscribe Now" %}</h4>
								<p>Please subscribe to get more of our updates directly to your email</p>
								<form role="form" id="sub-form">
                                    {% csrf_token %}
			                    	<input type="email" class="form-control" id="id_email" name="email" placeholder="Your E-Mail" required> <br />
			                    	<button type="submit" class="btn btn-default btn-sm" id="sub_button">{% trans "Subscribe" %}</button>
		                		</form>
							</div>
						</div><!-- /.row -->  
			</div> <!-- /.container --> 
			
			<div class="copyright-link"> 
					<p class="text-center"> 
			           <!-- Copyright information. You can replace your site link here --> 
			            &copy; 2013-{% now 'Y' %}<a href="{% url "home" %}"> Startup Entrepreneurs</a> {% trans "All Rights Reserved." %}
		            </p> 
			</div> 
		</footer> <!-- /.main-footer -->