{% load i18n %}
{% url "home" as home %}
{% url "portfolio" as portfolio %}
{% url "view_blog" as blog %}
{% url "about" as about %}
{% url "contacts" as contacts %}
{% url "faq" as faq %}
{% url "services" as services %}
<div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">{% trans "Toggle navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "home" %}">Startup Entrepreneurs</a>
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li {% if request.path == home %}class="active"{% endif %}><a href="{{ home }}">{% trans "Home" %}</a></li>
                    <li {% if about in request.path %}class="active"{% endif %}><a href="{{ about }}">{% trans "About Us" %}</a></li>
                    <li {% if services in request.path %}class="active"{% endif %}><a href="{{ services }}">{% trans "Services" %}</a></li>
                    <li {% if portfolio in request.path %}class="active"{% endif %}><a href="{{ portfolio }}">{% trans "Portfolio" %}</a></li>
                    <li {% if blog in request.path %}class="active"{% endif %}><a href="{{ blog }}">{% trans "Blog" %}</a></li>
                    <li {% if contacts in request.path %}class="active"{% endif %}><a href="{{ contacts }}">{% trans "Contacts" %}</a></li>
                    <li {% if faq in request.path %}class="active"{% endif %}><a href="{{ faq }}">{% trans "FAQ" %}</a></li>
                    {% if request.user.is_staff %}
                        <li><a href="/admin" target="_blank">{% trans "Admin" %}</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collaps -->
        </div>
        <!-- /.navbar -->
    </div>
    <!-- /.container -->
</div><!-- /.navbar-wrapper -->