{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}{% trans "Homepage" %}{% endblock %}

{% block carousel %}
    {% include "carousel.html" %}
{% endblock %}

{% block extra-content-style %}
    home-margin-top
{% endblock %}
{% block content %}


    <section class="top">

        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <h2 class="text-center">Welcome to Startup Entrepreneurs</h2>

                    <div class="col-md-9 col-sm-12">
                        <p>The name of the project says pretty much about us - we are entrepreneurs that are involved into startups, we have prepared few slides for an overview of our activity</p>
                    </div>
                    <div class="col-md-3 col-sm-12 theme-download-btn">
                        <a href="http://www.slideshare.net/maximmoneta/startup-entrepreneurs-47091458" rel="nofollow" class="btn btn-theme"> VIEW SLIDES </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.header-bottom -->

        <div class="container services">

            <div class="section-header">
                <h2 class="text-center">{% trans "OUR SERVICES" %}</h2>

                <p class="text-center">
                    We are helping our Customers to invent, develop and launch their startups or projects with a great cost efficiency and all required expertise
                </p>
            </div>
            <!-- /.section-header -->

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="services-box text-center">
                        <i class="fa"> <img src="{% static "img/icons/phone.png" %}" alt=""/></i>

                        <h3>Software development</h3>

                        <p>Any project or business nowadays requires a solid power of IT behind it, we are professional IT experts, so it is not a problem for us</p>
                        <a href="{% url "services" %}">Read More</a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="services-box text-center">
                        <i class="fa"> <img src="{% static "img/icons/flag.png" %}" alt=""/></i>

                        <h3>Business Development</h3>

                        <p>There is a million companies in the world that will offer to be your subcontractors, but not much of them will take risks and responsibilies as the real partners, we do</p>
                        <a href="{% url "services" %}">Read More</a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="services-box text-center">
                        <i class="fa"> <img src="{% static "img/icons/glove.png" %}" alt=""/></i>

                        <h3>Goals achievement</h3>

                        <p>Our goal is not a time sheet or report in the email, our goal is to achieve goals together and share the happiness and money, of course</p>
                        <a href="{% url "services" %}">Read More</a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="services-box text-center">
                        <i class="fa"> <img src="{% static "img/icons/rocket.png" %}" alt=""/></i>

                        <h3>Startups</h3>

                        <p>Difficulty of startups is often that there are too many things that are unknown from the begenning in the project, we are not scared of that and will help you to know the details faster</p>
                        <a href="{% url "services" %}">Read More</a>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container.services -->
    </section><!-- /.top -->


    <section class="middle recent-work">
        <div class="container">

            <div class="section-header">
                <h2 class="text-center">{% trans "OUR RECENT WORK" %}</h2>

                <p class="text-center">
                    {% trans "What we love to do (Mouseover the image)" %}
                </p>
            </div>
            <!-- /.section-header -->

            <div class="row">

                {% for item in portfolio %}

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="project-item">
                            <div class="project-box clearfix" onclick="return true">
                                <div class="project-img">
                                    {% thumbnail item.image "210x186" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="{{ item.title }}" class="img-responsive">
                                    {% endthumbnail %}
                                </div>
                                <div class="project-info ">
                                    <div class="project-text">
                                        <h4>{{ item.title }}</h4>

                                        <p>{{ item.content|striptags|safe|truncatewords:10 }}</p>
                                        <a href="{{ item.get_absolute_url }}">{% trans "Read More" %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}


            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section><!-- /.middle -->


    <section class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="section-header">
                        <h2>{% trans "Latest Post" %}</h2>
                    </div>

                    {% for post in posts %}
                        <article class="row blog-article">
                            <div class="col-md-3 col-sm-4 hidden-xs">
                                <a href="{{ post.get_absolute_url }}" class="roll blog-img">
				 					<span class="text-center"
                                          data-title="{% trans "Published on" %} {{ post.date|date:"d F Y" }} - {{ post.author.first_name }} {{ post.author.last_name }}">

                                        {% thumbnail post.image "125x80" crop="center" as im %}
                                            <img src="{{ im.url }}" alt="{{ post.title }}" class="img-responsive">
                                        {% endthumbnail %}
				 					</span>
                                </a>
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>

                                <p>{{ post.content|striptags|safe|truncatewords:25 }}</p>
                            </div>
                        </article>
                    {% endfor %}


                </div>
                <div class="col-md-5">
                    <div class="section-header">
                        <h2>{% trans "Why Choose Us" %}</h2>
                    </div>
                    <p>
                       All the companies that we have been working with are still with us and continues partnership and collaboration, I don't think more words needed
                    </p>

                    <h4>But to be more precise why us</h4>
                    <ol>
                        <li>Technical expertise on the highest level</li>
                        <li>Understanding of business processes</li>
                        <li>Readiness to work in startup environment</li>
                        <li>Responsibility</li>
                    </ol>

                </div>
            </div>
            <!-- /.row -->

            {% if testimonials.count == 6 %}
                <div class="row testimonials">
                    <div class="section-header">
                        <h2 class="text-center">{% trans "Testimonials" %}</h2>
                    </div>
                    <div class="col-md-10 col-sm-12 col-md-offset-1 col-lg-offset-1">
                        <div class="row">
                            <div class="carousel slide" id="testiCarousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#testiCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#testiCarousel" data-slide-to="1"></li>
                                    <li data-target="#testiCarousel" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">

                                    {% for item in testimonials %}
                                        {% if not forloop.counter|divisibleby:2 %}
                                            <div class="item{% if forloop.first %} active{% endif %}">
                                                <div class="col-md-6 col-sm-12">
                                                    <blockquote class="testimonials-box ">
                                                        <p>
                                                            “ {{ item.message|striptags }} ”
                                                        </p>
                                                        <h4>- {{ item.author }}</h4>
                                                    </blockquote>
                                                </div>


                                                {% else %}
                                                <div class="col-md-6 col-sm-12">
                                                    <blockquote class="testimonials-box">
                                                        <p>
                                                            “ {{ item.message|striptags }} ”
                                                        </p>
                                                        <h4>- {{ item.author }}</h4>
                                                    </blockquote>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.testimonials.row -->
            {% endif %}

            <div class="row  client-logo">
                <div class="col-sm-12 col-md-12 client-logo">
                    <ul class="list-unstyled list-inline text-center">
                        <li><img src="{% static "img/client-logo/client-logo1.jpg" %}" alt="client name"/></li>
                        <li><img src="{% static "img/client-logo/client-logo2.jpg" %}" alt="client name"/></li>
                        <li><img src="{% static "img/client-logo/client-logo3.jpg" %}" alt="client name"/></li>
                        <li><img src="{% static "img/client-logo/client-logo4.jpg" %}" alt="client name"/></li>
                        <li><img src="{% static "img/client-logo/client-logo5.jpg" %}" alt="client name"/></li>
                        <li><img src="{% static "img/client-logo/client-logo1.jpg" %}" alt="client name"/></li>
                        <li><img src="{% static "img/client-logo/client-logo2.jpg" %}" alt="client name"/></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section><!-- /.bottom -->

{% endblock %}
