{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}{% trans "Portfolio" %}{% endblock %}
{% block pagetitle %}

    <!--page Title-->
    <div id="page-title">
        <div class="title-box">
            <div class="container">
                <h2 class="icon-size animated fadeInUp"><i class="fa fa-bullhorn"> </i>{% trans "Portfolio" %}</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                    <li class="active">{% trans "Portfolio" %}</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}


{% block content %}
    <section class="middle">
        <div class="container">
            <div class="row">
                <!-- Start content-block column-->
                <div class="content-block portfolio-block clearfix portfolio-col-3">
                    <div class="clearfix">
                        <ul id="filtrable" class="clearfix">
                            <li class="active"><a href="#" class="all">{% trans "All" %}</a></li>
                            {% for category in categories %}
                                <li><a href="#" class="{{ category.slug }}">{{ category.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <ul class="portfolio thumbnails clearfix no-flip">
                        {% for item in items %}
                            <li data-type="{{ item.category.slug }}"
                                class="col-md-4 col-sm-6  col-xs-6 item portfolio-item">
                                <a href="{{ item.get_absolute_url }}">

                                    {% thumbnail item.image "400x288" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="{{ item.title }}"
                                             class="img-responsive">
                                    {% endthumbnail %}

                                    <div class="image-overlay-bg">
                                        <div class="image-overlay-link"></div>
                                    </div>
                                </a>

                                <div class="rw-details text-center">
                                    <h5>{{ item.title }}</h5>

                                    <p>{{ item.content|striptags|safe|truncatewords:5 }}</p>
                                </div>
                            </li>
                        {% endfor %}


                    </ul>
                </div>
                <!-- End .content-block-->
            </div>
            <!-- End .row-->
        </div>
        <!-- End .container-->
    </section>  <!-- End .middle-->

{% endblock %}

{% block extra-js-bottom %}
    <!-- jQurey Quicksand plugin -->
    <script src="{% static "js/plugins/jquery.easing.1.3.js" %}"></script>
    <script src="{% static "js/plugins/jquery.quicksand.js" %}"></script>

{% endblock %}