{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}{{ post.title }}{% endblock %}
{% block pagetitle %}
    <!--page Title-->
    <div id="page-title">
        <div class="title-box">
            <div class="container">
                <h2 class="icon-size animated fadeInUp"><i
                        class="glyphicon glyphicon-pencil"></i> {{ post.category.title }}</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                    <li><a href="{% url "view_blog" %}">{% trans "Blog" %}</a></li>
                    <li><a href="{% url "view_blog_category" post.category.slug %}">{{ post.category.title }}</a></li>
                    <li class="active">{{ post.title }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <section class="middle">
        <div class="container">
            <div class="row">
                <!-- Start content-block column-->
                <div class="col-sm-12 col-md-9">
                    <div class="content-block">
                        <article class="blog-post">
                            <h2><a href="#">{{ post.title }}</a></h2>

                            <div class="blog-entry-meta">
                                <div class="blog-entry-meta-date">
                                    <i class="fa fa-time"></i>
                                    {{ post.date|date:"F d, Y" }}
                                </div>
                                <div class="blog-entry-meta-author">
                                    <i class="fa fa-user"></i>
                                    <a href="#"
                                       class="blog-entry-meta-author">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                                </div>
                                <div class="blog-entry-meta-tags">
                                    <i class="fa fa-tags"></i>
                                    <a href="{% url "view_blog_category" post.category.slug %}">{{ post.category }}</a>
                                </div>
                                <div class="blog-entry-meta-comments">
                                    <i class="fa fa-comments"></i>
                                    <a href="#" class="blog-entry-meta-comments">4 comments</a>
                                </div>
                            </div>
                            <div class="blog-img clearfix no-flip">
                                {% thumbnail post.image "836x357" crop="center" as im %}
                                    <img src="{{ im.url }}" alt="{{ post.title }}" class="img-responsive">
                                {% endthumbnail %}
                            </div>
                            <p>{{ post.content|safe }}</p>
                            <blockquote>
                                <p>{{ post.annotation }}</p>
                            </blockquote>


                            <hr/>
                        </article>
                    </div>
                    <!-- End .content-block-->
                </div>
                <!-- End content-block column-->

                {% include "sidebar.html" %}

            </div>
            <!-- End .row-->
        </div>
        <!-- End .container-->
    </section>  <!-- End .middle-->
{% endblock %}