{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}{{ item.title }}{% endblock %}
{% block pagetitle %}


    <!--page Title-->
    <div id="page-title">
        <div class="title-box">
            <div class="container">
                <h2 class="icon-size animated fadeInUp"><i class="fa fa-globe"> </i> {% trans "Projects Details" %}</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                    <li><a href="{% url "portfolio" %}">{% trans "Portfolio" %}</a></li>
                    <li class="active">{{ item.title }}</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <section class="middle">
        <div class="container">
            <div class="row">
                <!-- Start content-block column-->
                <div class="content-block">
                    <div class="col-md-7">
                        <div id="projectCarousel" class="carousel slide">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                {% for image in item.portfolioimage_set.all %}
                                    <li data-target="#projectCarousel" data-slide-to="{{ forloop.counter }}"
                                        {% if forloop.first %}class="active"{% endif %}></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                {% for image in item.portfolioimage_set.all %}
                                    <div class="item{% if forloop.first %} active{% endif %}">
                                        {% thumbnail image.image "900x700" crop="center" as im %}
                                            <img src="{{ im.url }}" alt="{{ image.title }}">
                                        {% endthumbnail %}
                                        <div class="container">
                                            <div class="carousel-caption">
                                                <p>{{ image.title }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="left carousel-control" href="#projectCarousel" data-slide="prev"><span
                                    class="glyphicon glyphicon-chevron-left"></span></a>
                            <a class="right carousel-control" href="#projectCarousel" data-slide="next"><span
                                    class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                        <!-- /.carousel -->
                    </div>
                    <div class="col-md-5">
                        <div class="headline">
                            <h1>{{ item.title }}</h1>
                        </div>
                        <p>
                            {{ item.content|safe }}
                        </p>
                        {% if item.url %}
                            <a href="{{ item.url }}" class="btn btn-theme" target="_blank">{{ item.url }}</a>
                        {% endif %}
                    </div>
                </div>
                <!-- End .content-block-->
            </div>
            <!-- End .row-->
        </div>
        <!-- End .container-->
    </section>  <!-- End .middle-->


{% endblock %}
		

