{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}{% trans "Services" %}{% endblock %}
{% block pagetitle %}
    <!--page Title-->
    <div id="page-title">
        <div class="title-box">
            <div class="container">
                <h2 class="icon-size animated fadeInUp"><i class="fa fa-briefcase"></i>
                    {% trans "Services" %}
                </h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                    <li class="active">{% trans "Services" %}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
		<section class="middle">
				 <div class="container">
				 	<div class="row">  
				 		<!-- Start content-block column--> 
				 			<div class="content-block">   
							 	 	
							 	 	 <div class="headline">
							 			 <h1>{% trans " Our Services" %}</h1>
							 		 </div>
                                    <h2>Swedish Innovations</h2>
							 		 <p>
Startupreneurs AB is the Swedish company, working in the EU countries with innovative and startup projects as IT partner and solution provider - software development and telecom
We build the strong relationship with our partners and customers to guarantee the long-term lifecycle and success of the products 
							 	 	</p>  
                                <h2>Hi-TECH Expertise</h2>
                                <p> We are professional in the business processes, software development for various platforms, high-loaded applications, multimedia and Agile
Business process outsourcing in cooperation with collaboration with our partners gives more space for your creative ideas and growth of business </p>
							 	 	 <ul>
                        <li>Technical expertise on the highest level</li>
                        <li>Understanding of business processes</li>
                        <li>Readiness to work in startup environment</li>
                        <li>Responsibility</li>
							 	 	 </ul> 

							 	 <div class="services">  
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="services-box text-center">
                                            <i class="fa"> <img src="{% static "img/icons/phone.png" %}" alt=""/></i>
                    
                                            <h3>Software development</h3>
                    
                                            <p>Any project or business nowadays requires a solid power of IT behind it, we are professional IT experts, so it is not a problem for us</p>

                                        </div>
                                    </div>
                    
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="services-box text-center">
                                            <i class="fa"> <img src="{% static "img/icons/flag.png" %}" alt=""/></i>
                    
                                            <h3>Business Development</h3>
                    
                                            <p>There is a million companies in the world that will offer to be your subcontractors, but not much of them will take risks and responsibilies as the real partners, we do</p>

                                        </div>
                                    </div>
                    
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="services-box text-center">
                                            <i class="fa"> <img src="{% static "img/icons/glove.png" %}" alt=""/></i>
                    
                                            <h3>Goals achievement</h3>
                    
                                            <p>Our goal is not a time sheet or report in the email, our goal is to achieve goals together and share the happiness and money, of course</p>

                                        </div>
                                    </div>
                    
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="services-box text-center">
                                            <i class="fa"> <img src="{% static "img/icons/rocket.png" %}" alt=""/></i>
                    
                                            <h3>Startups</h3>
                    
                                            <p>Difficulty of startups is often that there are too many things that are unknown from the begenning in the project, we are not scared of that and will help you to know the details faster</p>

                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="services-box text-center">
                                            <i class="fa"> <img src="{% static "img/icons/monitor.png" %}" alt=""/></i>

                                            <h3>UI/UX Development</h3>

                                            <p>Completeness of user interfaces (UI) and great user experience (UX) are the key moments for success of your product - collaborative work of designers, branding and marketing professionals, front-end developers and creative individuals will make sure that your product has a solid view and rich functionality.</p>

                                        </div>
                                    </div>

                                     <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="services-box text-center">
                                            <i class="fa"> <img src="{% static "img/icons/briefcase.png" %}" alt=""/></i>

                                            <h3>IT Consultants</h3>

                                            <p>Our community is gathering great experts in different areas of IT, with their help you could solve problems with databases, quality assurance and testing, infrastructure, networks, your IT expenses, IT management. Every business needs an optimization of processes, resource planning and flexible reporting system - we can help you. </p>

                                        </div>
                                    </div>

                                     <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="services-box text-center">
                                            <i class="fa"> <img src="{% static "img/icons/graph.png" %}" alt=""/></i>

                                            <h3>Team Management</h3>

                                            <p>If you have an existing outsourcing or consulting network - we can assist you with management and coaching services to guarantee the higher quality of deliveries and lower cost without your significant time effort. We are working with Rational Unified Process, Agile Scrum, Kanban and others based on wish of Customer or business needs.</p>

                                        </div>
                                    </div>

                                     <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="services-box text-center">
                                            <i class="fa"> <img src="{% static "img/icons/bookshelf.png" %}" alt=""/></i>

                                            <h3>Business</h3>

                                            <p>Most of businesses require more then only IT support, full life-cycle of company includes more of important areas. Most of services offered to companies do not include share of ideas and intellectual help. We would like to help our Customers and of course add additional services which let use this help in a real world conditions.</p>

                                        </div>
                                    </div>

							 	</div><!-- /.services -->  
							 	 	 
						 	</div><!-- End .content-block--> 
				 	</div> <!-- End .row-->
				 </div><!-- End .container-->
        </section>  <!-- End .middle-->
		 

{% endblock %}