{% load i18n %}
<!-- Start  sidebar Column-->
<div class="col-sm-12 col-md-3 ">
    <section class="sidebar right-sidebar">
        <aside class="widget">
            <div class="headline">
                <h2>{% trans "Search" %}</h2>
            </div>
            <form role="form">
                <div class="input-group">
                    <label class="sr-only" for="search-field">{% trans "Search" %}</label>
                    <input type="search" class="form-control placeholder" id="search-field"
                           placeholder="Search">
						                <span class="input-group-btn">
						                <button class="btn btn-default" type="button">{% trans "Go!" %}</button>
						                </span></div>
            </form>
        </aside>

        <aside class="widget">
            <div class="headline">
                <h2>{% trans "Categories" %}</h2>
            </div>
            <!-- Add ".no-flip" class to "a" tag or "ul" tag to remove flip effect  -->
            <ul class="ul-list list-unstyled categories-list">
                {% for category in categories %}
                    <li><i class="fa fa-chevron-right"></i> <a
                            href="{% url "view_blog_category" category.slug %}">{{ category.title }}</a></li>
                {% endfor %}
            </ul>
        </aside>
    </section>
    <!-- End section.sidebar-->
</div>
<!-- End  sidebar Column-->