{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}{% trans "Thank you" %}{% endblock %}
{% block pagetitle %}
    <!--page Title-->
    <div id="page-title">
        <div class="title-box">
            <div class="container">
                <h2 class="icon-size animated fadeInUp"><i class="fa fa-envelope-o"></i>
                    {% trans "Thank you" %}
                </h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                    <li class="active">{% trans "Thank you" %}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
		<section class="middle">
				 <div class="container">
				 		<!-- Start content-block column-->
				 			<div class="content-block">
				 					<div class="row">

								 	 	<!-- Center Heading-->

								 	 	 <div class="headline text-center">
								 			 <h1>{% trans "Thank you" %}</h1>
								 		 </div>
								 		 <p>
									 	 	We are glad that you have found time to write as a line or two, we will definitely try to contact you as soon as it is possible!
								 	 	</p>
							 	</div> <!-- End .row-->
						 </div><!-- End .content-block-->
				 </div><!-- End .container-->
        </section>  <!-- End .middle-->
		 

{% endblock %}